.bookmark-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  .content {
    position: relative;
  }
  .toolbar-wrapper {
    background-color: var(--app-primary);
    color: var(--mat-white);
  }
  .toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .search-field {
    flex: 1;
    max-width: 400px;
    margin: 0 auto;

    .mat-mdc-text-field-wrapper {
      background: transparent !important;
    }

    .mat-mdc-form-field-focus-overlay {
      display: none;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: transparent;
    }

    .mat-mdc-form-field-underline {
      display: none;
    }

    .mdc-line-ripple {
      display: none;
    }

    .mat-mdc-input-element {
      font-size: 20px;
      color: var(--mat-white) !important;
      caret-color: var(--mat-white) !important;
    }

    .mat-mdc-input-element::placeholder {
      color: var(--mat-white-70) !important;
    }

    .mat-icon {
      color: var(--mat-white) !important;
      &.icon-animation {
        font-size: 20px;
        transition: transform 180ms ease-in-out, font-size 180ms ease-in-out,
          color 180ms ease-in-out;
        will-change: transform, font-size;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    &:hover {
      .icon-animation {
        font-size: 30px;
      }
    }
  }

  .app-logo {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--mat-white);
    margin-right: auto;

    .logo-link {
      color: inherit;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  .toolbar,
  .content {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
  }
  .content {
    padding: 16px;
    overflow-y: auto;
  }
}
