@use '@angular/material' as mat;

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-indigo-palette, A400, A100, A700);
$accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);
$success: mat.m2-define-palette(mat.$m2-green-palette, 500, 300, 700);

$app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      success: $success,
    ),
  )
);

@include mat.all-component-themes($app-theme);

:root {
  --app-primary: #{mat.m2-get-color-from-palette($primary)};
  --app-accent: #{mat.m2-get-color-from-palette($accent)};
  --app-warn: #{mat.m2-get-color-from-palette($warn)};
  --app-success: #{mat.m2-get-color-from-palette($success)};

  --mat-white: #{mat.m2-get-color-from-palette(mat.$m2-grey-palette, 50)};
  --mat-black: #{mat.m2-get-color-from-palette(mat.$m2-grey-palette, 900)};
  --mat-background: #{mat.m2-get-color-from-palette(mat.$m2-grey-palette, 50)};
  --mat-grey-600: #{mat.m2-get-color-from-palette(mat.$m2-grey-palette, 600)};
  --mat-grey-500: #{mat.m2-get-color-from-palette(mat.$m2-grey-palette, 500)};
  --mat-white-70: rgba(255, 255, 255, 0.7);
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body,
html,
app-root {
  height: 100%;
}

// Material overrides

// Snackbar
.mat-mdc-snack-bar-container.snackbar-success {
  .mdc-snackbar__surface {
    background-color: var(--app-success) !important;
  }
  .mat-mdc-snack-bar-label {
    color: var(--mat-white) !important;
  }
  .mat-mdc-button {
    color: var(--mat-white) !important;
  }
}

.mat-mdc-snack-bar-container.snackbar-error {
  .mdc-snackbar__surface {
    background-color: var(--app-accent) !important;
  }
  .mat-mdc-snack-bar-label {
    color: var(--mat-white) !important;
  }
  .mat-mdc-button {
    color: var(--mat-white) !important;
  }
}

// Card
.mat-mdc-card-content {
  .mat-mdc-card-header {
    padding: 16px;
    .mat-mdc-card-title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}
